.container{
  height: 50px;
  width: 90px;
  background-color: #f190b7;  
  padding: 5px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 200px;
  height: 250px;
  background-color: #90e0ef;
  font-size: 1.5rem;
  padding: 5px;
  margin: 20px;
}
